#title {
    margin: auto;
    width: 210px;
    height: 160px;
    background-image: url('hulk_title.png');
}

#game {
    margin: auto;
    width: 900px;
    height: 450px;
    border: 1px solid black;
    background-image: url('background.png');
    background-size: cover;
    
}

#hulk {
    width: 173px;
    height: 145px;
    background-image: url('hulk_PNG6.png');
    background-size: cover;
    position: relative;
    top: 305px;
}

#tank {
    width: 200px;
    height: 100px;
    background-image: url('tank.png');
    background-size: cover;
    position: relative;
    top: 205px;
    left: 700px;
    animation: tank 3s infinite;
}
@keyframes tank {
    0%{left: 700px;}
    100%{left: -200px;}
}

/* #score {
    width: 80px;
    height: 21px;
    border: 10px, solid, rgb(6, 7, 6);
    background-color: blue;
    left: 820px;
    text-align: center;
    font-size: larger;
    position: relative;
    top: -245px;
    text-decoration: double;
    color:rgb(58, 246, 34) 
} */

.jump-animation {
    animation: jump 1s; 
}

@keyframes jump {
    0%{top: 305px}
    50%{top: 90px}
    75%{top: 100px}
    100%{top: 305px}
}


#score {
    position: absolute;
    margin: auto;
    left: 800px;
    width: 80px;
    height: 21px;
    border: 10px, solid, rgb(6, 7, 6);
    background-color: blue;
    text-align: center;
    font-size: larger;
    text-decoration: double;
    color:rgb(58, 246, 34)

}